[submodule "small_demo"]
	path = small_demo
	url = https://github.com/VectorSoftwareRI/atg_small_demo_vcast.git
[submodule "s2n_demo"]
	path = s2n_demo
	url = https://github.com/VectorSoftwareRI/atg_s2n_demo_vcast.git
[submodule "scripts"]
	path = scripts
	url = https://github.com/VectorSoftwareRI/atg_support_scripts.git
